@font-face {
    font-family: fontetest;
    src: url(media/DePixelHalbfett.otf);
}

*{
    margin: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom, #B4BEC9, #002333 );
    height: 100%;
    padding-top: 50px;
}

.content {
    height:900px;
    width: 400px;
    margin: auto;
}

.content img {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    margin: auto;
}

span {
    font-family: links, sans;
    font-size: x-large;
    font-family: 'fontetest', sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}

a {
    height: 35px;
    width: 300px;
    margin: auto;
    justify-content: center;
    border: #DEEFE7 solid 2px;
    border-radius: 10px;
    font-size: large;
    background-color: #DEEFE7;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    margin-top: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.instagram img {
    width: 25px;
    height: 25px;
}

.instagram:hover img {
    transition: 1s;
    transform: rotate(360deg);
}

.instagram:hover {
    background-color: #B4BEC9;
}

.linkedin img {
    height: 25px;
    width: 25px;
}

.linkedin:hover {
    background-color: #B4BEC9;
}

.linkedin:hover img {
    transition: 1s;
    transform: rotate(360deg);
}

.Email img {
    height: 25px;
    width: 25px;
}

.Email:hover img {
    transition: 1s;
    transform: rotate(360deg);
}

.Email:hover {
    background-color: #B4BEC9;
}

.Github img {
    height: 25px;
    width: 25px;
  
}

.Github:hover img {
    transition: 1s;
    transform: rotate(369deg);
}

.Github:hover {
    background-color: #B4BEC9;
}

